.container-detail {
  flex: 1;
}

.detail {
  width: 100%;
  /* border: 2px solid; */
  padding: 10px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.detail-image {
}
.image {
  width: 90%;
  height: 90%;
  /* border: 2px solid; */
  margin: 20px;
}

.detail-info {
  height: 50%;
  width: 100%;
  flex-direction: column;
  /* border: 2px solid; */
  justify-content: center;
  align-self: center;
}
